@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Aleo');

/* Voor alle digitale dingen enzo */
@media screen {
	
		ol.literatuur {
		margin: 12px;
		padding: 0;
		font-size: 9pt;
		font-weight: bold;
	}
	
	ol.literatuur li span {
		display: block;
		padding-left: 10px;
		font-weight: normal;
	}
	
	a 	{
		text-decoration: none;
		color: black;
		font-size: 8pt;
		}
	
	a:hover	{
		text-decoration: none;
		font-size: 9pt;
		color: #4C4C4C;
		font-weight: bold;
		}
	
	hr {
		align-items: stretch; 	
	}
	
	p {
		font-size: 11pt;
		line-height: 16pt;
		text-align: justify;
	}
	
	h1 {
		font-size: 20pt;
		line-height: 24pt;
		font-weight: 700;
		letter-spacing: 0.05em;
	}

	h2 {
		font-size: 16pt;
		line-height: 24pt;
		font-weight: 500;
	}
	
	h3 {
		font-size: 14pt;
		line-height: 24pt;
		font-weight: 500;
	}
	
	.footnote {
		font-family: 'Aleo', serif;
		font-size: 11pt;
		line-height: 16pt;
		font-weight: 200;
	}
	
	.print {
		display: none;
	}
	
	.container {
		width: 560px;
		position: absolute;
		left: 50%;
		margin: 100px -280px;
		
	}

	.screen-inhoud {
		position: fixed;
		left: 50%;
		margin: 100px -530px;
		letter-spacing: 0.03em;
	}
	
	.screen {
		width: 460px;
		position: absolute;
		left: 50%;
		margin: 100px -230px;
		/*border: 1px solid black; */
	}
	
	.kolommen {
		column-count: 2;
		column-width: 300px;
		overflow: auto;
	}

	body {
		font-family: 'Aleo', serif;
	}
}

/* Voor alle print dingen enzo */ 
@media print {
	body {
		font-family: 'Aleo', serif;
		margin: 121px 114px 182px;
	}
	
	.screen, .screen-inhoud {
		display: none;
	}
	
	.pagebreak {
		page-break-before: always;
        page-break-inside: avoid;
	}
	
	h1 {
		text-align: center;
		font-size: 8pt;
		font-weight: 400;
		line-height: 17pt;
		text-transform: uppercase;
	}
	
	h2 {
		font-size: 12pt;
		line-height: 14pt;
		font-weight: 500;
	}
	
	p {
		font-size: 9pt;
		line-height: 15pt;
		text-align: justify;
	}
	
	ol.literatuur {
		margin: 12px;
		padding: 0;
		font-size: 9pt;
		font-weight: bold;
	}
	
	ol.literatuur li span {
		display: block;
		padding-left: 10px;
		font-weight: normal;
	}
}
